/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
footer {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}

html,
body {
    padding-top: 56px;
    height: 100%;
    background: url('bg_gradient.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;

}

span.price {
    float: right;
    color: gray;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

