/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
body, html {
    padding-top: 56px;
    height: 100%;
    background: url('bg_gradient.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}


footer {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}

#checkout {
    position: fixed;
    bottom: 0px;
    right: 10px;
    color: white;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.d-block img-fluid {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

