{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <article class="card-body">
                <a href="/login" class="float-right btn btn-outline-primary">Logowanie</a>
                <h4 class="card-title mb-4 mt-1">Rejestracja</h4>
                <form method="POST" , class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
                </form>
            </article>

            <!-- card.// -->
        </div>
    </div>
{% endblock %}
