{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Podaj Łapę
        </h1>
        <h6>
            Jestesmy organizacja, ktora chce zatroszczyc sie o biedne, porzucone zwierzeta. Pomoz nam znalezc dla nich prawdziwy dom.
        </h6>
       
    </div>
{% endblock %}