{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Podaj Łapę </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 

    <!-- Custom styles for this template -->
    {% block css %}
    {% endblock %} 

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{% static '/css/podajlape_icon.png' %}" width="auto" height="35"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ home_active }}">
                    <a class="nav-link" href="/">Strona główna
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {{ about_active }}">
                    <a class="nav-link" href="/about">O nas</a>
                </li>
                <li class="nav-item {{ contact_active }}">
                    <a class="nav-link" href="/contact">Kontakt</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item {{ profile_active }}">
                        <a class="nav-link" href="/profile">{{ user.get_username }}</a>
                    </li>
                    <li class="nav-item {{ logout_active }}">
                        <a class="nav-link" href="/logout">Wyloguj</a>
                    </li>
                {% else %}
                    <li class="nav-item {{ login_active }}">
                        <a class="nav-link" href="/login">Logowanie</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow-lg p-4 mb-5 bg-light rounded ">
        <div class="card-body p-2">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-4 ">
    <div class="container">
        <p class="text-center text-white">Copyright &copy; Podaj Łapę 2021</p>
    </div>
    <!-- /.container -->
</footer>


<!-- Bootstrap core JavaScript -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
