{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Kontakt
        </h1>
        <h6>
            Jesli chcesz sie z nami skontaktowac napisz do nas na adres podajlape@mpt.com
        </h6>

    </div>
{% endblock %}