{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Page Content -->

    <div class="container">
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% elif info_message %}
            <div class="alert alert-success" role="alert">
                {{ info_message }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4"></h1>
            <!--    {% if user.is_authenticated %}
                    <h5 class="my-4">Your balance: {{ user.profile.balance }} PLN</h5> 
                {% endif %} -->
                <div class="list-group">
                   <!-- <a href="/categories/all" class="list-group-item {{ categories_all_active }}">All</a> -->
                    {% if categories %}
                        {% for category in categories %}
                            {% if category.id == active_category %}
                                <a href="/categories/{{ category.id }}"
                                   class="list-group-item active">{{ category.name }}</a>
                            {% else %}
                                <a href="/categories/{{ category.id }}" class="list-group-item">{{ category.name }}</a> 
                            {% endif %}
                        {% endfor %}
                    {% endif %} 
                </div> 

            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9">
        
                <div class="row"> 
                    {% if products %}
                        {% for product in products %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="#"><img class="card-img-top img-fluid" src="/media/{{ product.image }}"
                                                     onerror="this.onerror=null; this.src='http://placehold.it/700x400'"
                                                     alt=""></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="/id/{{ product.id }}">{{ product.name }}</a>
                                        </h4>
                                        <h6>{{ product.age }} lat</h6>
                                        <p class="card-text">{{ product.description }}</p>
                                    </div>
                                    {% if user.is_authenticated %}
                                       <!-- <div class="input-group">
                                            <input type="number" id="{{ product.id }}" class="form-control" value="1">
                                            <span class="input-group-btn">
                                               <button type="submit" onclick="addItem({ product.id })" 
                                                       class="btn btn-primary"> Umow wizyte </button>
                                           </span>
                                        </div> -->
                                    {% endif %} 

                                    <div class="card-footer">
                                       <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->
        {% if user.is_authenticated %}
          <!--  <div id="checkout">
                <h4> </h4>
                <a href="/checkout">
                    <img src="/media/images/wizyta.jpg" class="ribbon" width="100" height="100"/>
                </a>
            </div> -->
        {% endif %}
    </div>
    <!-- /.container 
    <script>
        function addItem(id) {
            window.location.replace("/add_to_cart/" + id + "/" + document.getElementById(id).value);
        }
    </script> -->
{% endblock %}
