{% extends 'base.html' %} 
{% load static %}

{% block css %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Dostępne lokalizacje:</h1>
                <div class="list-group">
                    {% if localization %}
                        {% for local in localization %}
                            {% if local.id == active_local %}
                             <a href="/categories/all"
                             class="list-group-item active">{{ local.city }}</a>
                            {% else %}
                                <a href="/categories/all" class="list-group-item">{{ local.city }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <h1 class="my-4">Rozwiąż test:</h1>
                <div class="list-group"> 
                    <a class="nav-item {{ test_active }}">
                        <a href="/test" class="list-group-item">Test dopasowania</a>
                    </a> 
                </div>
            </div>

            
            <div class="col-lg-9">

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li> 
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="/media/static/karuzela1.png"
                                 onclick="window.location='/categories/3';" alt="First slide">
                        </div>

                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="/media/static/karuzela2.png"
                                 onclick="window.location='/profile';" alt="Second slide">
                        </div>
                      <!--  <div class="carousel-item">
                            <img class="d-block img-fluid" src="/media/static/karuzela1.png"
                                 onclick="window.location='/about';" alt="Third slide">
                        </div> -->
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
        </div>
    </div>
{% endblock %}