{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Ankieta pozwoli znaleźć zwierzątko, które najlepiej do Ciebie pasuje.
        </h1>
        <h6>
        <form action="/wyniki" method="get"><div>
        <p>	Ile czasu dziennie spędzasz poza domem?  </p>
        <input type="radio" name="odp_1" value="1"> Powyżej 8h dziennie <br>
        <input type="radio" name="odp_1" value="2"> Jeśli nie ja, to ktoś inny będzie obecny w domu  <br>
        <input type="radio" name="odp_1" value="3"> Poniżej 8h dziennie  <br>
        <input type="radio" name="odp_1" value="4"> Pracuję z domu, więc jestem na miejscu większość dnia  <br> 
        <br>
        <p>	Czy lubisz podróże?  </p>
        <input type="radio" name="odp_2" value=" Raz na jakiś czas decyduje się na dłuższe wakacje "> Raz na jakiś czas decyduje się na dłuższe wakacje  <br>
        <input type="radio" name="odp_2" value=" Dość dużo podróżuje"> Dość dużo podróżuje  <br>
        <input type="radio" name="odp_2" value=" Jestem typem domatora"> Jestem typem domatora <br>
        <input type="radio" name="odp_2" value=" Często się przeprowadzam i żyję w rozjazdach "> Często się przeprowadzam i żyję w rozjazdach <br>
        <br>
        <p>	Czy jesteś osobą aktywną fizycznie?  </p>
        <input type="radio" name="odp_3" value=" Nie jestem aktywna fizycznie, ale chce zmienić nawyki "> Nie jestem aktywna fizycznie, ale chce zmienić nawyki  <br>
        <input type="radio" name="odp_3" value=" Raczej nie"> Raczej nie <br>
        <input type="radio" name="odp_3" value=" Nie jestem typem sportowca, ale lubię długie spacery "> Nie jestem typem sportowca, ale lubię długie spacery  <br>
        <input type="radio" name="odp_3" value=" Regularnie uprawiam sport "> Regularnie uprawiam sport  <br>
        <br>
        <p>	Z kim mieszkasz? </p>
        <input type="radio" name="odp_4" value=" Z dziećmi powyżej 10 lat"> Z dziećmi powyżej 10 lat <br>
        <input type="radio" name="odp_4" value=" Z dziećmi poniżej 10 lat "> Z dziećmi poniżej 10 lat <br>
        <input type="radio" name="odp_4" value=" Z innymi zwierzakami"> Z innymi zwierzakami <br>
        <input type="radio" name="odp_4" value=" Mieszkam sam lub z partnerem"> Mieszkam sam lub z partnerem <br>
        <br>
        <p>	Czy miałeś już doświadczenie z psami? </p>
        <input type="radio" name="odp_5" value=" Nie miałem, ale wiele czytałam na ich temat"> Nie miałem, ale wiele czytałam na ich temat <br>
        <input type="radio" name="odp_5" value=" Mam duże doświadczenie z wychowywaniem psa"> Mam duże doświadczenie z wychowywaniem psa <br>
        <input type="radio" name="odp_5" value=" W moim otoczeniu sporadycznie pojawiały się psy"> W moim otoczeniu sporadycznie pojawiały się psy <br>
        <input type="radio" name="odp_5" value=" Nie, nigdy nie miałem większej styczności z psem"> Nie, nigdy nie miałem większej styczności z psem <br>
        <br>
        <p>	 Gdzie mieszkasz? </p>
        <input type="radio" name="odp_6" value=" Na wsi"> Na wsi <br>
        <input type="radio" name="odp_6" value=" Na obrzeżach miasta"> Na obrzeżach miasta <br>
        <input type="radio" name="odp_6" value=" W dużym mieście"> W dużym mieście <br>
        <input type="radio" name="odp_6" value=" W małym, spokojnym miasteczku"> W małym, spokojnym miasteczku <br>
        <br>
        <p>	Jak duże jest twoje mieszkanie?  </p>
        <input type="radio" name="odp_7" value=" Mieszkam w domu bez ogrodu"> Mieszkam w domu bez ogrodu <br>
        <input type="radio" name="odp_7" value=" Średnie lub duże mieszkanie w bloku"> Średnie lub duże mieszkanie w bloku <br>
        <input type="radio" name="odp_7" value=" Mieszkam w domu z ogrodem"> Mieszkam w domu z ogrodem <br>
        <input type="radio" name="odp_7" value=" Małe mieszkanie lub kawalerka"> Małe mieszkanie lub kawalerka <br>
        <br>
        <p>	Ile funduszy jesteś w stanie przeznaczyć na utrzymane psa?  </p>
        <input type="radio" name="odp_8" value=" Od 100 do 300 zł miesięcznie"> Od 100 do 300 zł miesięcznie <br>
        <input type="radio" name="odp_8" value=" Do 500 zł miesięcznie"> Do 500 zł miesięcznie <br>
        <input type="radio" name="odp_8" value=" Powyżej 500 zł miesięcznie"> Powyżej 500 zł miesięcznie <br>
        <input type="radio" name="odp_8" value=" Pieniądze nie grają roli"> Pieniądze nie grają roli <br>
        <br>
        <p>	Ile pracy jesteś w stanie poświecić? </p>
        <input type="radio" name="odp_9" value=" Czas i praca nie gra roli – jestem w stanie poświecić mu się całkowicie "> Czas i praca nie gra roli – jestem w stanie poświecić mu się całkowicie <br>
        <input type="radio" name="odp_9" value=" Jestem przygotowana na codzienną pielęgnację psa "> Jestem przygotowana na codzienną pielęgnację psa <br>
        <input type="radio" name="odp_9" value=" Wolałbym, żeby był w miarę łatwy w utrzymaniu i samowystarczalny "> Wolałbym, żeby był w miarę łatwy w utrzymaniu i samowystarczalny <br>
        <input type="radio" name="odp_9" value=" Raz w tygodniu mam czas na zabiegi pielęgnacyjne"> Raz w tygodniu mam czas na zabiegi pielęgnacyjne <br>
        <br>
        <p>	Jaki masz stosunek do utrzymania czystości? </p>
        <input type="radio" name="odp_10" value=" Zależy mi na perfekcyjnym porządku "> Zależy mi na perfekcyjnym porządku <br>
        <input type="radio" name="odp_10" value=" Nie lubię sprzątać, więc chciałbym psa, który nie wymaga pod tym względem szczególnej uwagi"> Nie lubię sprzątać, więc chciałbym psa, który nie wymaga pod tym względem szczególnej uwagi <br>
        <input type="radio" name="odp_10" value=" Częstsze porządki nie stanowią problemu "> Częstsze porządki nie stanowią problemu <br>
        <input type="radio" name="odp_10" value=" Nie zwracam na to większej uwagi"> Nie zwracam na to większej uwagi <br>
        <br>
        <p>	Jaki jest Twój stosunek do wychowania psa? </p>
        <input type="radio" name="odp_11" value=" Zależy mi, aby pies szybko  się uczył i nie wymagał specjalnej tresury"> Zależy mi, aby pies szybko  się uczył i nie wymagał specjalnej tresury <br>
        <input type="radio" name="odp_11" value=" Mam duże doświadczenie w wychowaniu psów i jestem w stanie poświęcić tyle czasu ile trzeba"> Mam duże doświadczenie w wychowaniu psów i jestem w stanie poświęcić tyle czasu ile trzeba <br>
        <input type="radio" name="odp_11" value=" Nie jestem zbyt cierpliwy i nie chce tresować swojego psa"> Nie jestem zbyt cierpliwy i nie chce tresować swojego psa <br>
        <input type="radio" name="odp_11" value=" Nigdy tego nie robiłem, ale chce się nauczyć"> Nigdy tego nie robiłem, ale chce się nauczyć <br>
        <br>
        <p>	Czy przeszkadza Ci „dużo szumu” w domu? </p>
        <input type="radio" name="odp_12" value=" Tak, wole ciszę i spokój"> Tak, wole ciszę i spokój <br>
        <input type="radio" name="odp_12" value=" Nie, lubię, gdy dużo się dzieje"> Nie, lubię, gdy dużo się dzieje <br>
        <input type="radio" name="odp_12" value=" Nie przeszkadza mi telewizor w tle, ale równocześnie telewizor, komputer, rozmowy…  to za dużo"> Nie przeszkadza mi telewizor w tle, ale równocześnie telewizor, komputer, rozmowy…  to za dużo <br>
        <br>
        <input type="submit" value="Wyślij formularz">
        <!-- Przycisk WYCZYŚĆ DANE -->
        <input type="reset" value="Wyczyść dane">
        </h6>
      <!--  <a class="nav-item {{ wyniki_active }}">
            <a href="/wyniki" class="list-group-item">Sprawdź zwierzątko</a> -->
       
    </div>
{% endblock %}