{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Najlepsze dla Ciebie zwierzątko to: {{zmienna}}
        </h1>
        <h6>
            
            <br>
          <!--  Wyniki: ?php switch ($_GET['odp_1']){
               case "1":
                echo "Coca-cola";
                break;
              case "2":
                echo "Fanta";
                break;
              case "3":
                echo "Sprite";
                break;
              case "4":
                echo "Inne";
                break;
              }
           ?> -->
           
        </h6>
    </div>

    <div class="col-lg-9">
        
        <div class="row"> 
            {% if products %}
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top img-fluid" src="/media/{{ product.image }}"
                                             onerror="this.onerror=null; this.src='http://placehold.it/700x400'"
                                             alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/id/{{ product.id }}">{{ product.name }}</a>
                                </h4>
                                <h6>{{ product.age }} lat</h6>
                                <p class="card-text">{{ product.description }}</p>
                            </div>
                            {% if user.is_authenticated %}
                               <!-- <div class="input-group">
                                    <input type="number" id="{{ product.id }}" class="form-control" value="1">
                                    <span class="input-group-btn">
                                       <button type="submit" onclick="addItem({ product.id })" 
                                               class="btn btn-primary"> Umow wizyte </button>
                                   </span>
                                </div> -->
                            {% endif %} 

                            <div class="card-footer">
                               <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                            </div>
                        </div>
                    </div> 
                {% endfor %}
            {% endif %}
        </div>
        <!-- /.row -->

    </div>
{% endblock %}